/* MTM1544 Week 1: your stylesheet.
   This file is already linked from index.html. Write your rules below.
   Start by changing the body background colour and saving, to confirm the link works. */


{ box-sizing: border-box; }

/* Make the first heading red */

h1 {
   color: red;
}

/*Class selector for the intro paragraph, make the text a different colour and set the line height to 1.5 */

.intro {
   color: #ebd6dd;
   line-height: 1.5;
}

.intro {
   background-color: #93739c;
   border: 2px dashed #3b4475;
   border-radius: 25px;
   padding: 20px;
   margin-bottom: 60px;
   margin-left:auto;
   margin-right:auto;
   width: 902px;
}

/* Group into one rule using the comma selector, set the colour of the h2 and p elements to a different colour */

h2, p {
   color:rgb(94, 38, 146);
}

/* ID selector for the summit heading, make the text a different colour */

#summit {
   color:blue;
}

/* Set the line height of all p elements to 5.5 */

p {
   line-height: 5.5;
}

/* Overrule the line height of all p elements to 1.5 */

p {
   line-height: 1.5;
}

.a {
   margin-bottom: 40px;
}

.b {
   margin-top: 60px;
}

.frame {
   aspect-ratio: 1/1;
   width: 100px;
   background-color: #93739c;
   border: 2px solid #3b4475;
}