/* MTM1544 Week 1: your stylesheet.
   This file is already linked from index.html. Write your rules below.
   Start by changing the body background colour and saving, to confirm the link works. */


/* Make the first heading red */

h1 {
   color: red;
}

/*Class selector for the intro paragraph, make the text a different colour and set the line height to 1.5 */

.intro {
   color: rgb(223, 13, 139);
   line-height: 1.5;
}

/* Group into one rule using the comma selector, set the colour of the h2 and p elements to a different colour */

h2, p {
   color:rgb(94, 38, 146);
}

/* ID selector for the summit heading, make the text a different colour */

#summit {
   color:blue;
}