/* MTM1544 Week 1: your stylesheet.
   This file is already linked from index.html. Write your rules below.
   Start by changing the body background colour and saving, to confirm the link works. */


{ box-sizing: border-box; }

/* Make the first heading red */

h1 {
   color: red;
}

/*Class selector for the intro paragraph, make the text a different colour and set the line height to 1.5 */

.intro {
   color: #ebd6dd;
   line-height: 1.5;
}

.intro {
   background-color: #93739c;
   border: 2px dashed #3b4475;
   border-radius: 25px;
   padding: 20px;
   margin-bottom: 60px;
   margin-left:auto;
   margin-right:auto;
   width: 902px;
}

/* Group into one rule using the comma selector, set the colour of the h2 and p elements to a different colour */

h2, p {
   color:rgb(94, 38, 146);
}

/* ID selector for the summit heading, make the text a different colour */

#summit {
   color:blue;
}

/* Set the line height of all p elements to 5.5 */

p {
   line-height: 5.5;
}

/* Overrule the line height of all p elements to 1.5 */

p {
   line-height: 1.5;
}

.a {
   margin-bottom: 40px;
}

.b {
   margin-top: 60px;
}

.frame {
   aspect-ratio: 1/1;
   width: 100px;
   background-color: #93739c;
   border: 2px solid #3b4475;
}


/* Week 3 Assignment below */

body {
   font-family: 'Lato', arial, sans-serif;
   font-weight: 400;
   font-size: 1rem;
   line-height: 1.6;
}


h1 {
   font-family: 'Abril Fatface', cursive, system-ui;
   font-weight: 400;
   font-style: normal;
   font-size: 2.5rem;
   line-height: 1.1;
}

h2 {
   font-family: 'Abril Fatface', cursive, system-ui;
   font-weight: 400;
   font-style: normal;
   font-size: 2rem;
   line-height: 1.2;
}

h1, h2 {
  text-wrap: balance;
}

.light85, .light65, .light45, .light25 {
   font-family: 'Lato', arial, sans-serif;
   padding: 10px 16px;
   margin: 0;
}

.light85 { background-color: hsl(271, 59%, 85%); color:black; }
.light65 { background-color: hsl(271, 59%, 65%); color:black; }
.light45 { background-color: hsl(271, 59%, 45%); color:white; }
.light25 { background-color: hsl(271, 59%, 25%); color:white; }

.ok85, .ok65, .ok45, .ok25 {
   font-family: 'Lato', arial, sans-serif;
   padding: 10px 16px;
   margin: 0;
}

.ok85 { background-color: oklch(0.85 0.16776 303.278); color:black; }
.ok65 { background-color: oklch(0.65 0.16776 303.278); color:black; } 
.ok45 { background-color: oklch(0.45 0.16776 303.278); color:white; }
.ok25 { background-color: oklch(0.25 0.16776 303.278); color:white; }

/* oklch looks much more natural and evenly spaced than hsl. */

a {
   background-color: #dac2ef;
}

a:hover {
   background-color: color-mix(in oklch, #dac2ef 50%, #93739c);
}

/* #5E2692 text with #ffffff background passes */
/* #ebd6dd text with #93739c background fails */
/* #000000 text with #dac2ef background passes */
/* #000000 text with #a871da background passes */
/* #ffffff text with #752fb6 background passes */
/* #ffffff text with #411a65 background passes */